.appointment-btns{
		padding: 7rpx 0 0;
		.btn{
			background-color: $main-color;
			border: 1rpx solid $main-color;
			height: 90rpx;
			width: 100%;
			border-radius: 20rpx;
			text-align: center;
			margin-bottom: 40rpx;
			box-sizing: border-box;
			@include fs(32rpx,600,#272727,88rpx);
			&:last-child{
				margin-bottom: 0;
			}
		}
		.btn-order{
			background: #FFF9E3;
			border: 1rpx solid #FCCD44;
			.btn-order-text{
				display: inline-block;
				position: relative;
				.tip-top-number{
					position: absolute;
					top: 21rpx;
					right: -16rpx;
					width: 16rpx;
					height: 16rpx;
					border-radius: 16rpx;
					background-color: #E20000;
				}
			}
		}
	}
	
	.container-item{
		padding-top: 23rpx;
		padding-bottom: 22rpx;
		border-bottom: 1rpx solid #EEEEEE;
	}